.wrapper {
  display: flex;
  padding: var(--space-3);
  border: 2px solid var(--color-grey-1);
  border-radius: var(--input-radius);
}
.mini {
  width: 6rem;
}
.accent {
  border: 2px solid var(--color-accent);
}
.light {
  border: 1px solid var(--color-grey-1);
}

.input {
  border: none;
  width: 100%;
  resize: none;
  outline: none;
  border-bottom: 1px solid var(--color-grey-2);
}

.postfix {
  margin-left: var(--space-2);
}
