.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.noTitle {
  min-height: 5rem;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  margin-bottom: var(--space-8);
}

@media screen and (max-width: 800px) {
  .title {
    font-size: var(--font-size-xxl);
    padding: var(--space-3) 0;
  }
  .noTitle {
    display: none;
  }
}
