.link {
  padding: var(--space-3);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: var(--font-weight-semibold);
}

.active {
  background-color: var(--color-accent);
}
.active h4 {
  color: var(--color-light);
}
