.wrapper {
  min-height: 5rem;
  background-color: var(--color-main);
}
.mini {
  min-height: 2rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .wrapper {
    min-height: initial;
    padding: var(--space-3) 0;
  }
}
