.content {
  position: absolute;
  left: 0;
  top: 3rem;
  padding-top: var(--space-4);
  width: 100%;
  height: calc(100vh - 3rem);
  transition: transform .1s;
  transform: translateX(100%);
  background-color: var(--color-light);
  z-index: 2;
}

.visible {
  transform: translateX(0);
}
