.wrapper {
  position: relative;
}

.content {
  position: absolute;
  left: 0;
  top: 0;
  padding-top: var(--space-4);
  width: 100%;
  height: 100vh;
  transition: transform .1s;
  transform: translateX(100%);
  background-color: var(--color-light);
  z-index: 2;
}

.visible {
  transform: translateX(0);
}
